<p id="notice"><%= notice %></p>

<p>
  <b>Interview:</b>
  <%= @feature.interview_id %>
</p>

<p>
  <b>Title:</b>
  <%= @feature.title %>
</p>

<p>
  <b>Description:</b>
  <%= @feature.description %>
</p>

<p>
  <b>Image:</b>
  <%= @feature.image %>
</p>

<p>
  <b>Is active:</b>
  <%= @feature.is_active %>
</p>
