<% content_for :title, "#{@interview.neighborhood.title} | #{@interview.storyteller_name}" %>

<% content_for :head do %>
  <%= stylesheet_link_tag    "transcripts", :media => "all" %>
  <%= javascript_include_tag "transcript" %>
<% end %>

<div id="transcript" class="transcript" data-transcript-url="<%= @transcript_url %>" data-url="<%= @interview.url %>">

</div>

<div id="toolbar" class="transcript-toolbar ">
  <a href="<%= interview_url(@interview) %>" class="toolbar-section interview-link"><img src="<%= @interview.image.thumb.url %>" /> &lt; Return to <%= @interview.storyteller_name %>'s Interview Page</a>
  <a href="#toggle-play" class="toolbar-section toggle-play-link"></a>
  <div class="toolbar-section">
    <%= link_to "Switch To Edit Transcript Mode <small>BETA</small>".html_safe, transcripts_edit_url(@interview.slug), :class => "button small button-switch-mode" %>
  </div>
</div>
