<div class="page-title">
  <h1 class="pull-left">Interviews</h1>  
  <%= link_to 'Add A New Interview', new_interview_path, :class => "button pull-right" %>
</div>

<table>    
<% @interviews.each do |interview| %>
  <tr>
    <td><%= link_to interview.storyteller_name, interview %></td>
    <td>by <%= interview.interviewer_name %></td>
    <td><%= interview.interviewed_at %></td>
    <td><%= interview.location %></td>    
    <td><%= link_to 'Show', interview %></td>
    <td><%= link_to 'Edit', edit_interview_path(interview) %></td>
    <td><%= link_to 'Delete', interview, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
