<% content_for :title, "#{@interview.neighborhood.title} | #{@interview.storyteller_name}" %>

<% content_for :head do %>
  <%= stylesheet_link_tag    "interviews", :media => "all" %>
  <%= javascript_include_tag "player" %>
  <%= javascript_include_tag "interview" %>
<% end %>

<div class="interview-banner" style="background-image: url(<%= @interview.image.url %>)">
  <div class="banner-gradient top">
    <div class="banner-title">
      <div class="subtitle"><a href="<%= neighborhood_path(@interview.neighborhood) %>"><span class="icon-nypl-alt"></span> <%= @interview.neighborhood.title %>: <%= @interview.neighborhood.subtitle %></a></div>
      <div class="title"><%= @interview.storyteller_name %></div>
    </div>
  </div>
  <div class="annotations">
    <% @annotations.each do |annotation| %>
    <div class="annotation seek-to" data-seconds="<%= annotation['start'] %>"><%= annotation['text'] %> (<%= seconds_to_string(annotation['start'].to_i) %>)</div>
    <% end %>
  </div>
  <div class="banner-gradient bottom">
    <%= link_to("Show Annotations", "#", :class => "button-toggle-annotations") unless @annotations.blank? %>
    <%= link_to "Add Annotations <small>BETA</small>".html_safe, mark_url(@interview.slug), :class => "button small button-add-annotations" %>
  </div>
  <div class="banner-player">
    <div class="player big with-status" data-id="<%= @interview.id %>">
      <audio id="audio-<%= @interview.id %>" class="auto-load" src="<%= @interview.url %>" data-show-duration="true"></audio>
    </div>
  </div>  
</div>

<div class="container padded interview-data">

    <dl>
          
      <%= content_tag(:dt, "Summary") unless @interview.summary.blank? %>
      <%= content_tag(:dd, @interview.summary) unless @interview.summary.blank? %>
      
      <%= content_tag(:dt, "Interviewer name") unless @interview.interviewer_name.blank? %>
      <%= content_tag(:dd, @interview.interviewer_name) unless @interview.interviewer_name.blank? %>
      
      <%= content_tag(:dt, "Date of Interview") unless @interview.interviewer_name.blank?%>
      <%= content_tag(:dd, @interview.interviewed_at.strftime("%B %e, %Y")) unless @interview.interviewer_name.blank? %>
      
      <%= content_tag(:dt, "Location of Interview") unless @interview.location.blank? %>
      <%= content_tag(:dd, @interview.location) unless @interview.location.blank? %>
      
      <%= content_tag(:dt, "Date of birth") unless @interview.date_of_birth.blank? or @interview.date_of_birth.year < 1901 %>
      <%= content_tag(:dd, @interview.date_of_birth.strftime("%B %e, %Y")) unless @interview.date_of_birth.blank? or @interview.date_of_birth.year < 1901 %>
      
      <%= content_tag(:dt, "Place of birth") unless @interview.place_of_birth.blank? %>
      <%= content_tag(:dd, @interview.place_of_birth) unless @interview.place_of_birth.blank? %>
      
      <%= content_tag(:dt, "Occupations") unless @interview.occupations.blank? %>
      <%= content_tag(:dd, @interview.occupations) unless @interview.occupations.blank? %>
      
      <%= content_tag(:dt, "Dates in Neighborhood") unless @interview.dates_in_location.blank? %>
      <%= content_tag(:dd, @interview.dates_in_location) unless @interview.dates_in_location.blank? %>
      
      <%= content_tag(:dt, "Locations in Neighborhood") unless @interview.other_locations.blank? %>
      <%= content_tag(:dd, @interview.other_locations) unless @interview.other_locations.blank? %>
      
      <%= content_tag(:dt, "Family members") unless @interview.family_members.blank? %>
      <%= content_tag(:dd, @interview.family_members) unless @interview.family_members.blank? %>
      
      <%= content_tag(:dt, "Notes") unless @interview.notes.blank? %>
      <%= content_tag(:dd, @interview.notes) unless @interview.notes.blank? %>
    
    </dl>

</div>

