<header id="header" class="header">
  <div class="header-container">
    <a href="http://nypl.org" target="_blank" title="Visit NYPL.org" class="nypl-logo-link">Visit NYPL.org</a>
    <a href="<%= root_path %>" class="title-link"><%= image_tag("oral_history_logo.svg", :alt => "Oral History Logo") %></a>
    <% unless local_assigns[:crumbs].nil? %>
    <div class="crumbs">
      <% crumbs.each do |crumb| %>
        <a <%= raw("href=\"#{crumb[:url]}\"") unless crumb[:url].nil? %> class="crumb"><%= crumb[:label] %></a>
      <% end %>
    </div>
    <% end %>

    <nav class="main-nav nav">
      <% unless current_page?(search_path) && params[:q].blank? %>
      <form class="form-search" action="/search" method="get">
        <input type="text" name="q" placeholder="Enter keyword" value="<%= params[:q] %>" title="Enter a keyword, then click search button" />
        <button type="submit">Search</button>
      </form>
      <% end %>
      <a href="<%= root_path %>#listen" class="nav-link">Listen</a>
      <a href="<%= improve_path %>" class="nav-link<%= " active" if current_page?(improve_path) %>">Improve</a>
      <a href="<%= about_path %>" class="nav-link<%= " active" if current_page?(about_path) %>">About</a>
    </nav>
  </div>
</header>
