<% content_for :head do %>
  <%= stylesheet_link_tag    "home", :media => "all" %>
  <%= javascript_include_tag "home" %>
<% end %>

<%= render "shared/nypl-header" %>

<div id="home-container">
  <div class="home-wrapper">
    
    <div class="home-banner-wrapper"><div class="home-banner"></div></div>
    <div class="home-gradient-wrapper"><div class="home-gradient"></div></div>
    
    <div class="home-container">
    
      <div class="home-title">
        <h3>The New York Public Library</h3>
        <h1>Oral History Project</h1>
        <div class="home-title-description">
          This is a community-based oral history project taking place in NYPL branches across the city that works to both preserve and document 
          neighborhood history through the stories of people who have experienced it.
        </div>      
      </div> <!-- /home-title -->
      
      <hr />
      
      <div class="home-featured">
        <h2>Featured Neighborhoods</h2>
        <ul class="neighborhoods-list">
          <% @neighborhoods.each do |neighborhood| %>
          <li style="background-image: url(<%= neighborhood.image.thumb.url %>)">
            <div class="gradient"></div>
            <div class="copy">
              <div class="title">
                <%= neighborhood.title %>
              </div>
              <div class="subtitle">
                <%= neighborhood.subtitle %>
              </div>  
            </div>          
            <%= link_to "", neighborhood, :class => "link-overlay" %>
          </li>
          <% end %>
        </ul>
      </div> <!-- /home-featured -->
      
      <div class="home-featured">
        <h2>Featured Interviews</h2>
        <ul class="interviews-list">
          <% @features.each do |feature| %>
          <li>
            <div class="image" style="background-image: url(<%= feature.interview.image.thumb.url %>)"></div>     
            <div class="copy">
              <div class="title">
                <%= feature.interview.storyteller_name %>
              </div>
              <div class="subtitle">
                <%= feature.title %>
              </div>
              <div class="description">
                <%= feature.description %>
              </div>
            </div>     
            <%= link_to "", feature.interview, :class => "link-overlay" %>
          </li>
          <% end %>
        </ul>
      </div> <!-- /home-featured -->
    
    </div> <!-- /home-container -->
    
  </div>
</div>
