<% content_for :head do %>
  <%= stylesheet_link_tag    "home", :media => "all" %>
  <%= javascript_include_tag "home" %>
<% end %>

<%= render "shared/nypl-header" %>

<div id="home-container">
  <div class="home-wrapper">
    
    <div class="home-banner-wrapper"><div class="home-banner"></div></div>
    <div class="home-gradient-wrapper"><div class="home-gradient"></div></div>
    
    <div class="home-container">
    
      <div class="home-title">
        <h3>The New York Public Library</h3>
        <h1>Community Oral History Project</h1>
        <div class="home-title-description">
          <p>The New York Public Library's Community Oral History Project is an initiative taking place at NYPL branches that aims to document, 
          preserve, and celebrate the rich history of the city's unique neighborhoods by collecting the stories of people who have experienced it firsthand.
          </p><p>
          To find out when NYPL's Community Oral History Project will be coming to your neighborhood, learn how to get involved, or share your story, 
          please contact <a href="mailto:oralhistory@nypl.org">oralhistory@nypl.org</a> or (212) 592-7555.
          </p>
        </div>      
      </div> <!-- /home-title -->
      
      <hr />
      
      <div class="home-featured">
        <h2>Browse By Neighborhood Project</h2>
        <ul class="neighborhoods-list">
          <% @neighborhoods.each do |neighborhood| %>
          <li style="background-image: url(<%= neighborhood.image.thumb.url %>)">
            <div class="gradient"></div>
            <div class="copy">
              <div class="title">
                <%= neighborhood.title %>
              </div>
              <div class="subtitle">
                <%= neighborhood.subtitle %>
              </div>  
            </div>          
            <%= link_to "", neighborhood, :class => "link-overlay" %>
          </li>
          <% end %>
        </ul>
      </div> <!-- /home-featured -->
      
      <!--
      <div class="home-featured">
        <h2>Interview Highlights</h2>
        <ul class="interviews-list">
          <% @features.each do |feature| %>
          <li>
            <div class="image" style="background-image: url(<%= feature.interview.image.thumb.url %>)"></div>     
            <div class="copy">
              <div class="title">
                <%= feature.interview.storyteller_name %>
              </div>
              <div class="subtitle">
                <%= feature.title %>
              </div>
              <div class="description">
                <%= feature.description %>
              </div>
            </div>     
            <%= link_to "", feature.interview, :class => "link-overlay" %>
          </li>
          <% end %>
        </ul>
      </div> <!-- /home-featured -->
    
    </div> <!-- /home-container -->
    
  </div>
</div>
