<% content_for :head do %>
  <%= stylesheet_link_tag    "home", :media => "all" %>
  <%= javascript_include_tag "player" %>
  <%= javascript_include_tag "home" %>
<% end %>

<%= render "shared/nypl-header" %>

<div id="home-container">
  <div class="home-sidebar">
    <div class="home-description padded">
      <h4><a href="http://nypl.org">New York Public Library</a></h4>
      <h1>Your Village, Your Story:</h1>
      <h3>Greenwich Village Oral History Project</h3>
      <p>
        This is a community-based oral history project at Jefferson Market Library that works to both preserve and document neighborhood history through 
        the stories of people who have experienced it.  
      </p>
      <p>
        From December 2013 - April 2014, trained volunteer interviewers worked to collect over 90 oral histories of people who have a longtime 
        relationship with Greenwich Village.  This collection represents the voices of individuals who have lived, worked or spent over 20 years in the neighborhood.
      </p>
      <p>
        We invite you to browse these oral histories - unedited interviews between Interviewers and Storytellers.  This collection can also be 
        found at The New York Public Library in a collection at Jefferson Market Library.
      </p>
      <p><small>
        For more information about this project, please contact Alexandra Kelly at Outreach Services and Adult Programs, 
        <a href="mailto:alexandrakelly@nypl.org">AlexandraKelly@nypl.org</a> or (212) 592-7555. 
      </small></p>
    </div>
  </div>
  <div class="home-content">
    <ul class="interviews-list">
      <% @interviews.each do |interview| %>
      <li>
        <div class="image" style="background-image: url(<%= interview.image.thumb.url if interview.image %>)">
          <%= link_to "", interview, :class => "link-overlay" %>
        </div>
        <div class="caption"><%= link_to interview.storyteller_name, interview %></div>
        <!-- <div class="player inverse" data-id="<%= interview.id %>">
          <div class="player-placeholder">
            <a href="#audio-<%= interview.id %>" class="player-load-button"></a>
            <div class="placeholder-bar"></div>
          </div>
          <audio id="audio-<%= interview.id %>" src="<%= interview.url %>" data-show-duration="false"></audio>
        </div> -->
        
      </li>
      <% end %>
    </ul>
  </div>  
</div>
