<% content_for :head do %>
  <%= stylesheet_link_tag    "home", :media => "all" %>
  <%= javascript_include_tag "home" %>
<% end %>

<%= render "shared/header" %>

<div id="home-container" class="home-container">

  <div class="home-top">

    <div class="home-about main">

      <h2><%= image_tag("oral_history_logo.svg") %></h2>
      <p><a href="http://nypl.org">The New York Public Library</a>'s Community Oral History Project is an initiative taking place at NYPL branches that aims to document,
      preserve, and celebrate the rich history of the city's unique neighborhoods by collecting the stories of people who have experienced it firsthand.
      </p>
      <p>
      To find out when NYPL's Community Oral History Project will be coming to your neighborhood, learn how to get involved, or share your story,
      please contact <a href="mailto:oralhistory@nypl.org">oralhistory@nypl.org</a> or 212-621-0552.
      </p>

    </div>
    <div class="home-listen action">
      <a href="#listen" class="circle scroll-to">
        <div>
          <%= image_tag("home_headphones.png") %>
          <h2>Listen</h2>
        </div>
      </a>
      <p>Explore hundreds of stories from neighborhoods and communities in NYC</p>
    </div>
    <div class="home-improve action">
      <a href="#" class="circle">
        <div>
          <%= image_tag("home_improve.png") %>
          <h2>Improve</h2>
        </div>
      </a>
      <p>Enrich collection by making it more searchable and discoverable</p>
    </div>

  </div>

  <!-- <div class="home-featured row">
    <div class="featured col"></div>
    <div class="featured col"></div>
  </div> -->

  <div id="listen" class="home-neighborhoods">
    <h2>Start By Selecting A Community Project</h2>
    <ul class="neighborhoods-list">
      <% @neighborhoods.each do |neighborhood| %>
      <li>
        <div class="neighborhood">
          <img src="<%= neighborhood.image.thumb.url %>" />
          <div class="gradient"></div>
          <div class="copy">
            <div class="title">
              <%= neighborhood.title %>
            </div>
            <div class="subtitle">
              <%= neighborhood.subtitle %>
            </div>
          </div>
          <%= link_to "", neighborhood, :class => "link-overlay" %>
        </div>
      </li>
      <% end %>
    </ul>
  </div>

</div>
