<% content_for :title, "#{@neighborhood.title}" %>

<% content_for :head do %>
  <%= stylesheet_link_tag    "neighborhood", :media => "all" %>
  <%= javascript_include_tag "neighborhood" %>
<% end %>

<%= render :partial => "shared/header", :locals => {:crumbs => [{:label => @neighborhood.title}]} %>

<div id="neighborhood-container">
  <div class="neighborhood-sidebar">
    <div class="neighborhood-description padded">
      <h1><%= @neighborhood.title %></h1>
      <h2><%= @neighborhood.subtitle %></h2>
      <div class="long-description">
        <%= @neighborhood.long_description.html_safe %>
      </div>
      <div class="contact-description">
        <%= @neighborhood.contact_description.html_safe %>
      </div>
    </div>
  </div>

  <div class="neighborhood-content">
   <div class="interviews-toolbar">
      <!-- <form id="search-form" class="search-form">
        <input type="text" id="search-input" value="" placeholder="Search Keyword..." />
      </form> -->
      <% if (@branches.length > 1)%>
      <div class="filters-wrapper">
        <div class="filters">
          <h5>Select A Neighborhood Library Branch:</h5>
          <ul class="branches-list">
            <li><%= link_to "All", "#all", :class => "selected branch-link", :data => {:branch_id => 0} %></li>
            <% @branches.each do |branch| %>
              <li><%= link_to branch.name, "##{branch.slug}", :class => "branch-link", :data => {:branch_id => branch.id} %></li>
            <% end %>
          </ul>
        </div>
        <br class="clearfix" />
      </div>
      <% end %>
      <br class="clearfix" />
    </div>

    <ul id="interviews-list" class="interviews-list loading"></ul>
    <br class="clearfix" />
  </div>
  <br class="clearfix" />
</div>
