<div class="image" style="background-image: url(<%= image.thumb.url %>)">
  <a href="/interviews/<%= slug %>" class="link-overlay"></a>
</div>
<div class="caption">
  <a href="/interviews/<%= slug %>"><%= storyteller_name %></a>
</div>
<% if (summary.length) { %>
<div class="summary">
  <% if (summary.length > 300) {  %>
    <%= summary.slice(0, 300) %>...
  <% } else { %>
    <%= summary %>
  <% } %>
</div>
<% } %>
<a href="/interviews/<%= slug %>" class="link-overlay"></a>
