<div class="line" data-sequence="<%= sequence %>">
  <a href="#<%= helper.formatTime(start) %>" class="timestamp seek-to" data-seconds="<%= start %>" title="Go to <%= helper.formatTime(start) %> in the interview"><%= helper.formatTime(start) %></a>
  <div class="text" title="<%= best_text %>"><%= best_text %></div>
  <a href="<%= url %>" target="_blank" class="edit-link button small">Edit</a>
</div>
