<%= render "layouts/head" %>

  <%= render "shared/header" %>
  
  <%= render "shared/messaging" %>
  
  <div class="container padded">
    <%= yield %>
  </div>
  
  <%= render "shared/footer" %>

<%= render "layouts/foot" %>